{% extends "admin/base.html.twig" %}

{% block main %}

	{% for licence in licences %}
		<h2>{{ licence.name }}</h2>
		<img src="{{ asset('images/' ~ licence.media) }}" alt="{{ licence.name }}">
	{% endfor %}


{% endblock %}
